/**
 * Github Corners - Demo page CSS
 * Author: Tim Holman
 */

* {
    box-sizing: border-box;
}

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
  font-size: 16px;
  margin: 0px;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
}

section {
  margin: 3rem 0;
}

.wrapper {
  margin: auto;
  max-width: 580px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

/*
 * Documentation definition list
*/
dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1rem;
}


/**
 * Examples
 */
.example {
  background: #fff;
  border: 2px solid #f4f4f4;
  display: flex;
  margin: 20px 0;
}

.example--alt {
  background: #a0a1a4;
}

.example__ui {
  position: relative;
  width: 200px;
}

.example__code {
  background: #f4f4f4;
  flex: 1;
  padding: 1rem;
  vertical-align: top;
}

.example__code h6 {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 0 0 1rem;
}

.example__code textarea {
  background: #fff;
  border: none;
  color: #777;
  line-height: 1.618;
  font-family: monaco, monospace;
  font-size: 10px;
  height: 120px;
  outline: 0;
  padding: 10px;
  width: 100%;
}

.inline-code {
  padding: 1px 3px;
  background: #f0f1f3;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-family: monaco, monospace;
  font-size: 11px;
}

/**
 * Footer
 */
footer {
  background: #f4f4f4;
  color: #2D2D2D;
  font-family: monaco, monospace;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 4rem;
  padding: 1rem 1.2rem;
  width: 100%;
}

footer a {
    color: #2d2d2d;
}

footer span {
    margin-left: 10px;
    margin-right: 10px;
}

.twitter-share-button {
    margin-bottom: -4px;
}

/**
 * Media
 */
@media (max-width: 500px) {
  footer {
    height: auto;
    line-height: 30px;
    text-align: center;
  }

  footer span {
    display: none;
  }

  footer a {
    display: block;
  }

  .twitter-share-button {
    margin-bottom: -8px;
  }
}
